<h1 class="page-header">Artists</h1>

<% @artists.each do |artist| %>
	
  <div class='tweet-box'>
  <%= link_to image_tag(artist.photo_url), artist_path(artist.id)%>
<strong><span class="label label-success"><%= link_to artist.name, artist_path(artist.id) , style:"color:#ffffff"%></span></strong>
  	</div>
  	<hr>
<% end %>
