<div class="container-fluid">
  <div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
<h1> <span class="label label-primary">Update My Infomation</span></h1>
</div>
</div>
<hr>
<%= render 'form' %>
</div>