

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="inner cover">
            <h1 class="cover-heading">Listen</h1>
            <p class="lead">"Listen" is a music community where you can collect and play millions of music from the Internet. Join us and invite your friends! Collect, listen, and sharing your moods!</p>
            <p class="lead">
              <a href="/albums" class="btn btn-lg btn-default">Start</a>
            </p>
          </div>

        </div>

      </div>

    </div>

</body>
