<div class="details">

  <p><%= image_tag @album.image_url, class: 'pull-right' %></p>

  <p><strong>Artist: </strong>
    <%= link_to @album.artist.name, artist_path(@album.artist.id) %>
  </p>

  <p><strong>Released:</strong> <%= @album.year %></p>
  <p><strong>Tracks: </strong></p>
  <ul>
    <% @album.songs.each do |song| %>
        <li class="track-list"><%= link_to song.name, song_path(song.id) %></li>
    <% end %>
  </ul>
</div>
<hr>
