<div class="page-header text-center"><h1>ALBUM</h1></div>
<% if session["user_id"].present? and User.find_by(id: session["user_id"])!=nil%>
 <%= render 'album', album: nil %>
 <%end%>
<%= render @albums %>
<%if @albums.count > 0%>
<div class="album-box-noshadow">
<ul>
<%= link_to image_tag("pick.jpg"), album_url(@albums.sample)%>
</ul>
</div>
<%end%>