
<h1 class='page-header'><%= @album.title%></h1>

<%= render 'details' %>

 <div class="text-center">
    <%=button_to "Delete",album_path(@album.id),:method => :delete, :class=>"btn btn-sm btn-danger"%>
  </div>