<h1>Change Your Avatar</h1>
<hr>
<div class='avatar-box'>
 <p><%= image_tag @avatar.image_url%></p>
 <%= form_for @avatar do |form| %>
 <%= form.file_field :image_url ,class:"text-center"%>
 <br>
 <%= form.submit :class=>"btn btn-success"%>
<% end %>

 </div>